# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project
config presets

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
logs
.factorypath
todo.txt
download.sh
download.bat
download-posix.sh
saves
optifine